@media (max-width: 1200px){
	#header-form{
		margin: 0 64px 0 auto;
	}
	#header-form-search-results{
		width: 475px;

		right: 0;
	}
	#header-form-decor{
		right: -64px;
	}
	#header-decor{
		display: none;
	}
}
@media (max-width: 969px){
	body > header > div:nth-child(4){
		display: none;
	}
	.header-arrow{
		display: none;
	}
	#header-form{
		margin: 0 16px 0 auto;
	}
	#header-form-search-results{
		width: 411px;
	}
	#header-form-decor{
		right: -128px;
	}
	#sidebar{
		position: absolute;
	
		float: none;
		background-color: #FFF;
		box-shadow: 420px 180px 0 180px #0008;
	}
	#content{
		margin-left: 0;
	
		font-size: .85em;
	}
	.content-opened{
		padding-right: 16px !important;
		padding-left: 16px !important;
	}
}
@media (max-width: 600px){
	body > header > div:nth-child(2){
		z-index: 1;
	}
	#header-menu{
		flex: none;
	}
	#header-form-search{
		width: 160px;
	
		font-size: 20px;
	}
	#header-form-send{
		display: none;
	}
	#header-form-search-results{
		width: 251px;
	}
	#header-form-decor{
		right: calc(-256px - 32px);
	}
}