body{
	margin: 0;

	overflow: hidden;
}
header{
	height: 64px;

	display: flex;
	align-items: center;
	background-color: #222A35;
}
#header-menu{
	height: 64px;
	width: 64px;
}
.header-menu-line{
	height: 8px;
	width: 48px;
	margin: 10px auto;

	border-radius: 4px;
	background-color: #999;

	transition: .5s background-color, .5s transform;
}
.header-menu-line-hover{
	background-color: #0CC;
}
.header-menu-line-1{
	transform: translateY(18px) rotateZ(45deg);
}
.header-menu-line-2{
	transform: translateX(-24px) scaleX(0);
}
.header-menu-line-3{
	transform: translateY(-18px) rotateZ(-45deg);
}
.header-text{
	padding-bottom: 2px;
	margin: 0 16px;

	color: #0CC;
	font-size: 32px;
	font-weight: 800;
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}
.header-text > a{
	color: #0CC;
	text-decoration: none;
}
.header-arrow{
	color: #999;
	font-size: 40px;
	font-weight: 800;
	font-family: 'Poppins', sans-serif;
}
#header-form{
	margin: 0 256px 0 auto;
	z-index: 1;

	display: flex;
}
#header-form-search{
	padding: 0 4px;

	color: #FFF;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	background-color: #0000;
	border: none;
	outline: none;
}
#header-form-send{
	height: 32px;
	width: 32px;

	outline: none;
}
#header-form-search-results{
	max-height: 250px;
	width: 512px;
	padding-bottom: 8px;
	position: absolute;
	top: 64px;
	right: calc(256px - 64px - 5px);

	overflow-y: auto;
	background-color: #828A95;
	border-radius: 0 0 16px 16px
}
#header-form-search-results::-webkit-scrollbar{
	width: 16px;
}
#header-form-search-results::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: #222A35;
}
.header-form-search-results-elem{
	height: 20px;
	padding-top: 4px;

	border-radius: 16px;

	transition: .5s background-color;
}
.header-form-search-results-elem:hover{
	background-color: #0CC;
}
#header-form-decor{
	height: 64px;
	width: 512px;
	position: absolute;
	right: calc(256px - 64px - 32px);

	background-color: #828A95;
	transform: skewX(-40deg);
}
#header-decor{
	height: 96px;
	width: 96px;
	position: absolute;
	top: 0;
	right: -16px;

	background-color: #0CC;
	transform: skewX(-40deg);
}
#sidebar{
	height: calc(100vh - 64px - 24px);
	width: calc(420px - 24px);
	padding: 12px;

	float: left;
	overflow-y: scroll;
}
#sidebar::-webkit-scrollbar{
	width: 16px;
	background-color: #222A35;
}
#sidebar::-webkit-scrollbar-thumb{
	border-radius: 8px;
	background-color: #828A95;
}
.sidebar-hidden{
	display: none;
}
.sidebar-hierarchy-toggle{
	height: 16px;
	width: 16px;
	margin: 4px;

	background-color: #0CC;
	border-radius: 4px;
	cursor: pointer;

	transition: .5s border-radius;
}
.sidebar-hierarchy-toggle:hover{
	border-radius: 8px;
}
.sidebar-hierarchy-toggle-hidden{
	display: none;
}
.sidebar-hierarchy-toggle-line{
	height: 4px;
	width: 12px;

	border-radius: 2px;
	background-color: #FFF;
	transform: translate(2px, 6px);

	transition: .5s background-color, .5s transform;
}
.sidebar-hierarchy-toggle-line-plus{
	transform: translate(2px, 2px) rotateZ(90deg);
}
.sidebar-hierarchy-toggle-line-plus-opened{
	transform: translate(2px, 2px);
}
.sidebar-hierarchy-toggle-text{
	position: relative;
	top: -12px;
	left: 24px;

	font-size: 16px;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
}
.sidebar-hierarchy-dot{
	height: 16px;
	width: 16px;
	margin: 4px;

	background-color: #0CC;
	border-radius: 8px;
	cursor: pointer;
}
.sidebar-hierarchy-dot-text{
	position: relative;
	top: -4px;
	left: 24px;

	font-size: 16px;
	font-weight: 900;
	font-family: 'Roboto', sans-serif;
	white-space: nowrap;
	text-decoration: none;
	color: #000;
}
#content{
	height: calc(100vh - 64px - 32px);
	padding: 16px;
	margin-left: 420px;

	overflow-y: auto;
	font-size: .95em;
	font-family: 'Roboto', sans-serif;
}
#content::-webkit-scrollbar{
	width: 16px;
}
#content::-webkit-scrollbar-thumb{
	border-radius: 4px;
	background-color: #0CC;
}
.content-opened{
	padding-right: 20vw !important;
	padding-left: 20vw !important;
	margin: 0 !important;
}
.hm{ /* h-main */
	text-align: center;
	font-size: 48px;
	font-weight: 900;
}
.hs{ /* h-second */
	font-size: 32px;
	font-weight: 700;
}
.ht{ /* h-thirt */
	font-size: 24px;
}
.dt{ /* data type */
	padding: 0 2px;

	color: #0CC;
	font-size: 14px;
	font-weight: 900;
	border-right: 4px solid #828A95;
	border-left: 4px solid #828A95;
	border-radius: 64px;
}
.clr{
	color: #0CC;
	font-weight: 600;
}
.clr-t{
	color: #ED0;
	font-weight: 600;
}
.clr-i{
	color: #A2F;
	font-weight: 600;
}
.ce{ /* code-example */
	padding: 8px;
	margin-top: 8px;
	margin-bottom: 8px;

	color: #FFF;
	background-color: #222A35;
	border-radius: 8px;
	overflow-wrap: break-word;
}